@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --bg1: #9c59b685;
  --bg2: #3498dbb7;
  --bg3: #5fbee4;
  --bg4: #d3f3f8;
  --bg5: #1db5c9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 755px;
  width: 1536px;
  background-image: url(../images/logo-backgroud/background_new.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
.form-login {
  width: 350px;
  height: 570px;
  background: white;
  border-radius: 10px;
  background: linear-gradient(130deg, var(--bg1), var(--bg4), var(--bg3));
}
.form-login .form-login-wrapper {
  text-align: left;
  margin-inline-start: 8px;
  margin-block-start: 8px;
  margin-bottom: 15px;
}
.form-login .form-login-wrapper a {
  text-decoration: none;
}
.form-login .form-login-wrapper a p {
  display: flex;
  color: #fff;
  margin-block-start: -28px;
  margin-block-end: 0;
  margin-inline-start: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.form-login .form-login-wrapper a ion-icon {
  border: 1px solid linear-gradient(150deg, var(--bg1), var(--bg3));
  font-size: 1.5em;
  color: #fff;
  transition: 0.5s;
}
.form-login .form-login-wrapper a p:hover {
  background-position: right;
  color: linear-gradient(130deg, var(--bg1), var(--bg3));
}
.form-login .form-login-text {
  padding: 0px 30px;
}

.form-login .form-login-text h2 {
  color: #fff;
  margin-bottom: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-login .form-login-text ion-icon {
  margin: -25px auto 10px auto;
  font-size: 5.5em;
  color: white;
}
.form-login .form-login-text button {
  height: 35px;
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(120deg, var(--bg1), var(--bg2), var(--bg1));
  border: none;
  color: #fff;
  border-radius: 5px;
  background-size: 200%;
  transition: 0.5s;
}
.form-login .form-login-text button:hover {
  background-position: right;
}
.form-text {
  margin-bottom: 40px;
  position: relative;
}
.form-text input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  padding-left: 12px;
}
.form-text label {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.2s;
}
.form-text label.focus {
  transform: translateY(-30px);
}
span#qmk {
  position: relative;
  align-items: flex-end;
  font-family: 'Times New Roman', Times, serif;
  top: -25px;
  right: -65px;
  font-size: 14px;
  color: #b65959;
}
span {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  text-align: center;
}
a {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  text-align: center;
}
